<div class="footer">
  <%# <div class="footer-links"> %>
    <i class='fas fa-home' style='font-size:36px'></i>
    <i class='fas fa-user-circle' style='font-size:36px'></i>
    <%# <i class='fas fa-user-circle' style='font-size:36px'></i> %>
    <i class='fas fa-search' style='font-size:36px'></i>
  <%# </div> %>
  <%# <div class="footer-copyright"> %>
    <%# The app made to make recycling easier <i class="fas fa-heart"></i> %>
  <%# </div> %>
</div>
