<div class="footer">
  <%# <div class="footer-links"> %>
    <a href="/"><i class='fas fa-home' style='font-size:36px'></i></a>
    <a href="/barcode"><i class='fas fa-barcode' style='font-size:36px'></i></a>
    <a href="/profile"><i class='fas fa-user-circle' style='font-size:36px'></i></a>
    <%# <i class='fas fa-user-circle' style='font-size:36px'></i> %>
    <%# <i class='fas fa-search' style='font-size:36px'></i> %>
  <%# </div> %>
  <%# <div class="footer-copyright"> %>
    <%# The app made to make recycling easier <i class="fas fa-heart"></i> %>
  <%# </div> %>
</div>
<%# link_to "My Account", profile_path(current_user), %>
