<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag asset_path('logofornow.png') %>
    <% end %>
    <div class="title">
    <h2>Recycle-X</h2></div>
  </div>
</div>
