<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag asset_path('logofornow.png') %>
    <% end %>
    <div class="title">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
    <% if user_signed_in? %>
      <li class="nav-item">
        <h2><%= link_to "Recycle-X", root_path, style:"color: #abd699;", class: "nav-link" %></h2>
      </li>
    <% else %>
      <li class="nav-item">
        <h2><%= link_to "Login", new_user_session_path, style:"color: #abd699;", class: "nav-link" %></h2>
      </li>
    <% end %>
    </ul>
  </div>
  </div>
</div>
</div>
