<body>
  <h1>Scan Your Product</h1>
<div data-controller="barcode">

  <div id="qr-reader" style="width:390px"></div>
  <div id="qr-reader-results"></div>



<script type="json/javascript" src="barcode_controller.js"></script>
</body>

</div>
