<body>
    <div data-controller="barcode">
  <h1 style="margin-top: 50px;"><b style="margin-left: 80px;">Scan Your Product</b></h1>
      <div id="qr-reader" style="width:390px;margin-top: 90px;"></div>
      <div id="qr-reader-results"></div>

      <div data-barcode-target="content"></div>

    <script type="json/javascript" src="barcode_controller.js"></script>
  </div>
</div>
</body>
