<body>

<div data-controller="barcode">

  <div id="qr-reader" style="width:500px"></div>
  <div id="qr-reader-results"></div>



<script type="json/javascript" src="barcode_controller.js"></script>
</body>

</div>
