<div class="p-3 mb-2 bg-dark text-white" style="height 690px;">
<div data-controller="barcode">
  <div data-barcode-target="scanner">
    <h1 style="margin-top: 15%;" id="barcode-title"><b style="margin-left: 20%;">Scan Your Product</b></h1>
    <div id="qr-reader" style="width:100%;margin-top:20%;height:500px;border:2px solid red;"></div>
    <div id="qr-reader-results"></div>
  </div>
  <div data-barcode-target="content"></div>
</div>
</div>
<%# <div class="p-3 mb-2 bg-dark text-white">.bg-dark</div> %>
