
<div class="container">
<br>
<h1>Your Product History</h1>
<br>
  <% @useritems.each do |item|%>
    <%i = Item.find_by id: item.item_id  %>
      <% if item.user_id == @user.id %>
       <%=link_to product_path(i), class: "text-decoration-none" do %>
        <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
          <div class="bg-white rounded shadow h-100">
            <div class="p-3 rounded-bottom d-flex flex-column">
              <strong style="color:black;"><%= i.name %> <span class="text-muted font-weight-normal">• <%= i.eco_score %></span></strong>
              <div class="d-flex align-items-end justify-content-between pt-4">
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
     <% end %>
  </div>
<hr class="my-5">
