<h1>About Recycle-X</h1>

<div class="card-product card-product-infos">
<%= image_tag asset_path('IMG_5866 2 Small.png')%>
<h4>Founder</h2>
</div>
<div class="card-product card-product-infos">
<%= image_tag asset_path('April2007_MateoconChaleco.JPG')%>
<h2>Co-founder and incharge of looking like a snack</h2>
</div>

<div class="card-product card-product-infos">
<%= image_tag asset_path('IMG_2435.jpg')%>
<h4>Co-founder</h2>
</div>

<div class="card-product card-product-infos">
<%= image_tag asset_path('IMG_2440.jpg')%>
<h4>Co-founder</h2>
</div>
