<div class="banner">
  <div class="banner-content text-center">
  <h1>Recycle-X</h1>
    <%# <h1>Pages#home</h1 > %>
    <%# <p>Find me in app/views/pages/home.html.erb</p> %>
    <p>The app made to make recycling easier! </p>
    <a href="/barcode"><button class="button">Start Scanning</button></a>
  </div>
</div>
