.card-product {
  overflow: hidden;
  height: 120px;
  background: rgb(209, 208, 208);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  color: black;
  border-radius: 10px;
}

.card-product img {
  height: 120px;
  width: 80%;
  object-fit: cover;
  // object-fit: contain;
  //border-right: solid 2px rgba(154, 153, 153, 0.2);
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  align-items: center;
}

.imgs{
  height: 100px;
  width: 50%;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


.cards{
  overflow: hidden;
  height: 350px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  color: black;
}

.cards p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.cards h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  align-items: center;
}

.cards img {
  height: 340px;
  width: 50%;
  // object-fit: cover;
  object-fit: contain;
}

.cards .cards-infos{
  padding: 16px;
}
