.footer {
  z-index: 1;
  margin-top: 2vh;
  background: #16123F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 15px;
  width: 100%;
  margin-top: auto;
  position: fixed;
  bottom: 0;

    a {
    text-decoration: none;
    padding: 10px 10px;
    font-size:36px;

    i {
      color: #ABD699;
    }
    }
  }

.footer-links a:hover {
  color: pink;
}
