.footer {
  margin-top: 2vh;
  background: #16123F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 15px;
  color: #ABD699;
  width: 100%;
  margin-top: auto;
  position: sticky;
  bottom: 0;
}
.footer-links {
  // display: flex;
  align-items: center;
}
.footer-links a {
  color: #ABD699;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 10px;
  // align-items: center;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-home .fa-user-circle .fa-search {
  color: #D23333;
  opacity: 1;
}
